#ios-native-bar.navbar-inverse
#ios-native-bar-placeholder.navbar-inverse

:css
  #ios-native-bar {
    width: 100%;
    height: 20px;
    display: none;
    position: fixed;
    z-index: 1;
  }
  #ios-native-bar-placeholder {
    width: 100%;
    height: 20px;
    display: none;
  }
  .snackbar-content, .snackbar-content > * {
    max-width: 100%;
  }

:javascript
  $(document).on('ready page:load', function () {
    if (window.navigator.standalone) {
      $("#ios-native-bar").show();
      $("#ios-native-bar-placeholder").show();
    } else if (navigator.platform.indexOf("iPhone") != -1) {
      $.snackbar({
        content: "To use Favorites like a normal app, tap the share button below (in the middle, with the up arrow), and tap 'Add To Home Screen'",
        timeout: 30000
      })
    }
  })
  $("#ios-native-bar").click(function() {
    $("html, body").animate({ scrollTop: 0 });
  });
