.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "javascript:window.history.go(-1);"}
        %i.material-icons keyboard_arrow_left
      %a.navbar-brand{:href => root_path } Favorites!
      - if params[:action] == "index"
        %form.navbar-form.navbar-brand.navbar-right.pull-right{ style: "margin: 0;"}
          .form-group
            %input#search-filter.form-control.col-md-8{:placeholder => "Search", :type => "text"}
      - else
        %button.navbar-toggle{"data-target" => ".navbar-inverse-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
